.body_bg {
  background-color: #222D32;
}

a:hover,
a:link,
a:active,
a{
  text-decoration: none;
}

ol,li{
  list-style: none;
}

.mar-t{
  margin-top: 150px;
}

.mt_20{
  margin-top: 20px;
}

.mar-l-15{
  margin-left: 15px;
}

.pd_20{
  padding-left: 20px;
}

.panel .panel-title{
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

html,body{
  height: 100%;
}

/* ------------------首页侧边栏-------------------*/
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s;
}

/* 用于公共的菜单栏切换 */
.lt_aside.menu_toggle{
  left: -180px;
}

.lt_aside .title{
  height: 50px;
  background-color: #367FA9;
}

.lt_aside .title p{
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.lt_aside .user{
  height: 180px;
  padding-top: 30px;
  text-align: center;
}

.lt_aside .user img{
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 6px;
}

.lt_aside .user span{
  color: #fff;
  font-size: 16px;
}

.lt_aside .nav ul{
  padding: 0;
}

.lt_aside .nav li{
  line-height: 40px;
  text-align: center;
}

/* 分类管理二级菜单切换 */
.secondary{
  display: none;
}

.lt_aside .nav li i{
  margin-right: 6px;
}

.lt_aside .nav li a{
  display: block;
  color: #fff;
  height: 40px;
  width: 100%;
  border-left: 3px solid transparent;
}

/* 用于导航栏菜单效果 */
.lt_aside .nav li a.current{
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}

/* ------------------首页顶部公共部分-------------------*/
.lt_header{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3C8DBC;
  padding-left: 180px;
  transition: all 1s;
}

/* 用于公共的菜单栏切换 */
.lt_header.menu_toggle{
  padding-left: 0;
}

.lt_header a {
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: block;
  line-height: 50px;
}

.lt_header .icon_left{
  float: left;
  margin-left: 15px;
}

.lt_header .icon_right{
  float: right;
}

/* ------------------模态框-------------------*/
.modal .modal-body i{
  color: red;
}

/* ------------------面包屑导航-------------------*/
.container-fluid{
  margin-left: 20px;
  padding-top: 50px;
  padding-left: 180px;
  background-color: #fff;
  transition: all 1s;
}
.lt_breadcrumbs{
  background-color: #F5F5F5;
  margin-top: 20px;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
}

.container-fluid.menu_toggle{
  padding-left: 0;
}

.lt_breadcrumbs li{
  display: inline-block;
}

.lt_breadcrumbs .active::after{
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

/* ------------------首页图表-------------------*/
.lt_content .echarts_left,
.lt_content .echarts_right {
  width: 48%;
  height: 400px;
}

/* ------------------用户管理页表格-------------------*/
.table td{
  text-align: center;
  vertical-align: middle;
}
.table th{
  text-align: center;
}