.content{
    width: 100%;
    height: 100%;
    position: relative;
}

.content .category_left {
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
}

.content .category_right{
    position: relative;
    overflow: hidden;
    height: 100%;
}

/* 左侧 */
.content .category_left li{
    height: 50px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
}

.content .category_left li a{
    color: #666666;
}

.content .category_left a.current{
    display: block;
    background-color: #fff;
}

/* 右侧 */
.content .category_right li{
    float: left;
    width: 33.33%;
    text-align: center;
}

.content .category_right li img{
    display: block;
    width: 70px;
    height: 50px;
    margin: 0 auto;
}