html, body{
  width: 100%;
  height: 100%;
}

ul,li,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}


.container{
  max-width: 640px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #fff;
}

/* -------------- 头部区域 ---------------- */
.header{
  height: 45px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 45px 0 45px;
  text-align: center;
}

.header h3{
  margin: 0;
  padding: 0;
  line-height: 45px;
  color: #fff;
  font-weight: 400;
  letter-spacing: .2em;
}

.header .icon_left,
.header .icon_right{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 45px;
}

.header .icon_left i,
.header .icon_right i{
  color: #fff;
}

.header .icon_left{
  left: 0;
}

.header .icon_right{
  right: 0;
}

/* -------------- 内容区域 ---------------- */
.content{
  width: 100%;
  height: 100%;
  position: relative;
}

/* -------------- 导航区域 ---------------- */
.content .nav{
  padding: 10px;
}

.content .nav li {
  width: 33.33%;
  float: left;
}

.content .nav li img{
  display: block;
  width: 100%;
}

/* -------------- 商品区域 ---------------- */
.goods{
  padding: 10px;
}

.goods li{
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.goods li:nth-child(2n+1){
  margin-right: 4%;
}

.goods li img{
  display: block;
  width: 100%;
}

.goods li .price{
  color: red;
}

.goods li .oldPrice{
  text-decoration: line-through;
}

/* -------------- 底部区域 ---------------- */
.footer{
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer li{
  width: 25%;
  float: left;
  margin-top: 10px;
}

.footer li a{
  color: #fff;
}

.footer li a p{
  color: #fff;
}

.footer li a.current{
  color: #FFA500;
}

.footer li a.current p{
  color: #FFA500;
}